.tableCol-75 {
  min-width: 100%;
}

.warning-block {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dprt {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  grid-gap: 30px;
}

.dprtCard {
  text-align: center;
  width: 270px;
  height: 300px;
  cursor: pointer;
}

.dprtCard_hover:hover {
  box-shadow: 0px 30px 35px rgba(21, 21, 21, 0.15);
}

.dprtCard__img {
  background-color: var(--sb-contrast-accent);
  color: var(--sb-main);
  width: inherit;
  height: 75%;
}

.dprtCard__name {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--sb-main);
  color: var(--sb-contrast-accent);
  width: inherit;
  height: 10%;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
}

.dprtCard__web {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: var(--sb-main);
  width: inherit;
  height: 11%;
  font-size: 16px;
}

a.dprtCard__web_visited:visited {
  color: var(--sb-main);
}

.btn {
  font-size: 20px;
  border: 1px solid black;
  margin-top: 20px;
}
